<div id="branding" class="container branding">
    <h1 class="title xxl bold right">Branding</h1>
</div>
<div class="container content">
    <div class="flex row justified-s">
        <p class="text bold right md">Infostands</p>
        <img alt="Logo in kleur" src="{{ site.baseurl }}/images/branding/01.png"/>
    </div>
    <div class="flex row justified-s padded-top">
            <p class="text bold right sm"><span class="text bold right md">PPT</span> <br/><br/>deze Powerpoint-presentatie wordt gebruikt voor presentaties 
                tijdens lezingen.<br/><br/>Je kan hier het template voor de powerpoint downloaden.<br/><br/>de eerste en de latste dia zijn altijd blauw van achtergrond  de zest van de dia’s hebben altijd een witte achtergronde of een foto over heel de dia<br/><br/>TIPS: beperk het aantal tekst op één dia. Zet niet de volledige dia vol tekst.
                <a class="download-link" href="{{ site.baseurl }}/downloads/templates/ppt.zip">Download template <i class="far fa-arrow-alt-circle-down"></i></a></p>
            <img alt="Logo in kleur" src="{{ site.baseurl }}/images/branding/02.png"/>
    </div>
    <div class="flex row justified-s padded-top">
        <p class="text bold right md"></p>
        <img alt="Logo in kleur" src="{{ site.baseurl }}/images/branding/03.png"/>
    </div>
    <div class="flex row justified-s padded-top">
        <p class="text bold right md"></p>
        <img alt="Logo in kleur" src="{{ site.baseurl }}/images/branding/04.png"/>
    </div>
    <div class="flex row justified-s padded-top">
        <p class="text bold right md">Envelopes</p>
        <img alt="Logo in kleur" src="{{ site.baseurl }}/images/branding/05.png"/>
    </div>
    <div class="flex row justified-s padded-top">
        <p class="text bold right md"></p>
        <img alt="Logo in kleur" src="{{ site.baseurl }}/images/branding/06.png"/>
    </div>
    <div class="flex row justified-s padded-top">
            <p class="text bold right md">Draagtas</p>
            <img alt="Logo in kleur" src="{{ site.baseurl }}/images/branding/07.png"/>
        </div>
</div>
    