<div id="branding" class="container branding">
    <h1 class="title xxl bold right">Branding</h1>
</div>
<div class="container content">
    <div class="flex row justified-s">
        <p class="text bold right sm"><span class="text bold right md">Infostands</span><br /><br /> 
Deze infostands worden gebruikt bij presentaties of activiteiten als hier plaats voorzien is.</p>
        <img alt="Infostand" src="{{ site.baseurl }}/images/branding/infoborden.jpg"/>
    </div>
    <div class="flex row justified-s padded-top">
            <p class="text bold right sm"><span class="text bold right md">Powerpoint</span> <br /><br />Deze Powerpoint-presentatie wordt gebruikt voor presentaties 
                tijdens lezingen.<br/><br/>Je kan hier het template voor de powerpoint downloaden.<br /><br />De eerste en de laatste dia zijn altijd blauw van achtergrond, de rest van de dia’s hebben altijd een witte achtergrond of een foto over heel de dia.
                <br/><br/>TIPS: beperk het aantal tekst op één dia. Zet niet de volledige dia vol tekst. <br /><br />Om de templaten goed te gebruiken ga je via start naar nieuwe dia en kies je de gewenste dia  
                <a class="download-link" href="{{ site.baseurl }}/downloads/templates/ppt.zip">Download template <i class="far fa-arrow-alt-circle-down"></i></a></p>
            <img alt="Powerpoint" src="{{ site.baseurl }}/images/branding/uitleg_ppt.jpg"/>
    </div>

    <div class="flex row justified-s padded-top">
        <p class="text bold right md">Envelopes</p>
        <img alt="Foto envelop" src="{{ site.baseurl }}/images/branding/envelop.png"/>
    </div>
    <div class="flex row justified-s padded-top">
        <p class="text bold right md"></p>
        <img alt="Envelop" src="{{ site.baseurl }}/images/branding/uitleg-envelop.png"/>
    </div>
    <div class="flex row justified-s padded-top">
            <p class="text bold right sm"><span class="text bold right md">Draagtas</span><br /><br />Voor al de gadgets worden de 
3 kleuren blauw, geel en rood als achtergrond gebruikt. Het logo staat voor de vlag die in een cirkel staat.</p>
            <img alt="Draagtas met logo" src="{{ site.baseurl }}/images/branding/zak.png"/>
        </div>
</div>
    