<div id="color" class="container color">
    <h1 class="title xxl bold right">Kleur</h1>
</div>
<div class="container content">
    <div class="flex row justified-s">
        <p class="text bold right sm"> <span class="text md bold">Primaire kleuren</span> <br/><br/> 
Er zijn drie kleuren die gebruikt mogen worden zijn blauw, geel en rood. Deze kleuren zijn afkomstig van de Roemeense vlag 
Deze kleuren mogen gebruikt worden in verschillende dekkingen 100%, 75%,50% en 25%.    </p>
        <img alt="Verschillende kleur" src="{{ site.baseurl }}/images/color/01.png"/>
    </div>
    <div class="flex row justified-s padded-top">
        <p class="text bold right md">Kleurvariaties zijn niet toegestaan</p>
        <img alt="Kleuren die niet mogen gebruiktworden" src="{{ site.baseurl }}/images/color/02.png"/>
    </div>
    <div class="flex row justified-s padded-top">
        <p class="text bold right md">Facebook voor het promoten van onze facebookpagina gebruiken we dit icoontje.
              <a class="download-link" href="{{ site.baseurl }}/downloads/fonts/druk.zip">Download icoon <i class="far fa-arrow-alt-circle-down"></i></a>
        </p>
        <img alt="Facebook icoon" src="{{ site.baseurl }}/images/color/Facebook.png"/> 
        </p>      
        
    </div>
</div>

