<div class="footer flex row justified-s centered">
    <div class="copy text xs">© 2017 Nijlen voor Hodora </div>
    <div class="socials flex column centered">
        <i class="fab fa-facebook-f"></i> 
        <p class="text xs center">Volg ons</p>
    </div>
    <div class="contact flex column text xs">
      <div class="row flex"> <i class="fas fa-compass"></i>  <p>P/a Krokusstraat 17, 2060 Nijlen</p></div>
      <div class="row flex"> <i class="fas fa-phone"></i>  <p>03/411.02.53</p></div>
      <div class="row flex"> <i class="fas fa-envelope"></i></i>  <p>lieve.verelst@pandora.be</p></div>
</div>