<div id="landing" class="container landing">
    <h1 class="title xxl right"><span class="bold"><sup>VZW</sup>Nijlen<br> voor<br> Hodora</span><br> Huisstijlhandboek</h1>
</div>
<div class="container voorwoord flex row centered">
    <h1 class="title right md bold">Voorwoord</h1>
    <p class="text left sm bold padded-top">  Deze huisstijlgids geeft u een praktische leidraad voor het toepassen van de nieuwe huisstijl. Om een sterke visuele identiteit te bereiken is het van belang dat iedereen deze richtlijnen opvolgt en 
        correct toegepast. </br> </br> De huisstijl levert een belangrijke bijdrage aan het versterken van het
gewenste imago. Een goed en bewust gebruik van de huisstijl versterkt dit geheel. Het versterkt ook de herkenbaarheid het brengt samenhang aan in de verschillende communicatiemiddelen. 
Desamenhang van de visuele presentatie zorgt voor een professionele uitstraling.</br> </br>
Het logo en de templaters kunnen worden gedowlode door op de rode tekst te klikken.</p>
</div>
