<div id="landing" class="container landing">
    <h1 class="title xxl right"><span class="bold"><sup>VZW</sup>Nijlen<br /> voor<br /> Hodora</span><br /> Huisstijlhandboek</h1>
</div>
<div class="container voorwoord flex row centered">
    <h1 class="title right md bold">Voorwoord</h1>
    <p class="text left sm bold padded-top"> De betekenis van “Nijlen voor Hodora” is een organisatie die zich inzet voor een dorpje in Roemenië genaamt Hodora. In het logo kan je verschillende 
        elementen terugvinden zoals de Roemeense vlag, een huisje, een hartje en twee mensen. <br /> <br /> Deze huisstijlgids geeft u een praktische leidraad voor het toepassen van de nieuwe 
        huisstijl. Om een sterk visueel identiteit te bereiken is het van belang dat iedereen deze richtlijnen opvolgt en correct toepast.<br /> <br />
        De huisstijl levert een belangrijke bijdrage aan het versterken van het gewenste imago. Een goed en bewust gebruik van deze huisstijl verhoogt het imago. 
        Het versterkt ook de herkenbaarheid en het brengt samenhang aan in de verschillende communicatiemiddelen. De samenhang van de visuele presentatie zorgt voor een 
        professionele uitstraling en samenhang.<br /> <br /> Het logo en de templates kunnen worden gedownloade door op de rode tekst te klikken.
</div>
