<div id="logo" class="container logo">
        <h1 class="title xxl bold right">Logo</h1>
</div>
<div class="container content">
        <div class="flex row justified-s">
                <p class="text bold right sm"> <span class="text md bold">Logo Positief</span> <br/><br/> Het logo is de belangrijkste bouwsteen van de VZW. 
                Het Logo is een combinatie van een woordmerk (typografie) en een beeldmerk (illustratie). <br/><br/> Betekenis Nijlen voor Hodora is een organisatie die zich inzet voor een dorpje in Roemenië. 
                In het logo kan je verschillende elementen terug vinden zoals de Roemeense vlag, een huisje, een hartje en twee mensen.</p>  
                 
                <img alt="Logo in kleur" src="{{ site.baseurl }}/images/logo/01.png"/>
        </div>
        <div class="flex row justified-s padded-top">
                <p class="text bold right sm"> <span class="text md bold">Logo Diapositief</span> <br/><br/> Bij effen kleurvlak is het
                        verplicht op het logo in outlines te zetten. Als je een effen kleurvlak gebruikt liefst in het blauw of eventueel in het geel of rood.
                        
                </p>
              <img alt="Logo met gekleurde achtergrond" src="{{ site.baseurl }}/images/logo/02.png"/>
        </div>
        <div class="flex row justified-s padded-top">
                <p class="text bold right sm"> <span class="text md bold">Logo in een kleur</span> <br/><br/> Je heb de keuze tussen zwart, wit, blauw, geel en rood 
                        <a class="download-link" href="{{ site.baseurl }}/downloads/logo/logo.zip">Download logo <i class="far fa-arrow-alt-circle-down"></i></a>
                </p>
                <img alt="Logo met gekleurde achtergrond" src="{{ site.baseurl }}/images/logo/03.png"/>
        </div>
        <div class="flex row justified-s padded-top">
                <p class="text bold right sm"><span class="text md bold">Minimale grootte logo</span> <br/><br/>  De minimum grootte kan gebruikt worden op kleine voorwerpen. </p>
                <img class="small" alt="Logo minimum" src="{{ site.baseurl }}/images/logo/04.png"/>
        </div>
        <div class="flex row justified-s padded-top">
                <p class="text bold right sm">Als het logo er niet op past gebruik je enkel de naam Nijlen voor Hodora</p>
                <img  alt="foto van gom en potlood" src="{{ site.baseurl }}/images/logo/05.png"/>
        </div>
        <div class="flex row justified-s padded-top">
                <p class="text bold right sm"> <span class="text md bold"> Minimum witruimte rond het logo</span> <br/><br/> De afstand rond het logo is gelijk als de groten van 1 bolletje. In deze ruimten mag niets komen van tekst of illustraties. </p>
                <img alt="Witruimte rond logo" src="{{ site.baseurl }}/images/logo/06.png"/>
        </div>
        <div class="flex row justified-s padded-top">
                <p class="text bold right sm"> <span class="text md bold">Wat niet mag</span> <br/><br/> Er zijn verschillende manieren waarop het logo NIET gebruikt mag worden <br/><br/> 
                        Geen vervormingen <br/><br/> 
                        Niet besnijden of croppen <br/><br/> 
                        Geen kleuraanpassingen maken <br/><br/> 
                        Lettertype mag niet aangepast worden <br/><br/> 
                        Geen outline (lijn in plaats van vulling) <br/><br/> 
                        Niet roteren van logo <br/><br/> 
                        Geen tekst toevoegen <br/><br/> 
                        Geen effecten (schaduw, glow ...) <br/><br/> 
                        Geen drukke achtergrond (kleur of foto)<br/><br/> </p>

                <img alt="Wat mag niet met het logo" src="{{ site.baseurl }}/images/logo/07.png"/>
        </div>
        <div class="flex row justified-s padded-top">
                <p class="text bold right md"> Logo in gebruik</p>
                <img alt="Logo op bortje" src="{{ site.baseurl }}/images/logo/08.png"/>
        </div>
</div>
    