<div class="navigation flex row centered justified-end">
    <a href="#landing" class="navigation-item flex column link home">Home
        <span class="underline"></span>
    </a>
    
    <a href="#logo" class="navigation-item flex column link logo">Logo
        <span class="underline"></span>
    </a>
    
    <a href="#typo" class="navigation-item flex column link typo">Typografie
        <span class="underline"></span>
    </a>
    
    <a href="#color" class="navigation-item flex column link color">Kleurgebruik
        <span class="underline"></span>
    </a>
    
    <a href="#photo" class="navigation-item flex column link photo">Fotografie
        <span class="underline"></span>
    </a>
    
    <a href="#branding" class="navigation-item flex column link branding">Branding
        <span class="underline"></span>
    </a>
    
</div>