<div id="photo" class="container photo">
    <h1 class="title xxl bold right ">Fotografie</h1>
</div>
<div class="container content">
    <div class="flex row justified-s">
        <p class="text bold right sm"> <span class="text bold right md">Richtlijnen</span> <br/> <br/> Voor het gebruik van fotografie zijn er enkele richtlijnen. Wij maken gebruik van realistische fotografie (geen bewerking in photoshop). <br/> <br/> Fotografie is een belangrijk onderdeel van de huisstijl. Voor drukwerk moet het een resolutie hebben van 300 dpi. Beelden die je online plaatst mogen 72 dpi hebben.</p>
        <img alt="foto van stoelen" src="{{ site.baseurl }}/images/photo/01.png"/>
    </div>
    <div class="row flex padded-top end group">
        <img alt="Foto van een kind op een traktor" src="{{ site.baseurl }}/images/photo/02.png"/>
        <img alt="Foto van 3 jongens" src="{{ site.baseurl }}/images/photo/03.png"/>
    </div>
    <div class="flex row justified-s padded-top">
        <p class="text bold right md"></p>
        <img alt="Foto van een brandweer auto" src="{{ site.baseurl }}/images/photo/04.png"/>
    </div>
    <div class="flex row justified-s padded-top">
        <p class="text bold right md"></p>
        <img alt="Foto van dansende mensen" src="{{ site.baseurl }}/images/photo/05.png"/>
    </div>
</div>


