<div id="typo" class="container typo ">
    <h1 class="title xxl bold right">Typografie</h1>
</div>
<div class="container content">
    <div class="flex row justified-s padded-top">
        <p class="text bold right sm"><span class="text bold right md">Drukwerk</span> <br/><br/>Het lettertypen dat gebruikt wordt voor druk werk is Tahoma 
als alternatief kan er ook Arial gebruikt borden. Bijde lettertypes mogen gebruikt worden in regular en bold. <br/><br/>
Deze lettertypes bevatten ook het Roemeense lettertypen dit is handig om typische worden of termen
te kunnen schrijven.
            <a class="download-link" href="{{ site.baseurl }}/downloads/fonts/druk.zip">Download font <i class="far fa-arrow-alt-circle-down"></i></a>
        </p>      
        <img alt="Lettertype Tahoma" src="{{ site.baseurl }}/images/typo/01.png">
    </div>

 <div class="flex row justified-s padded-top">
        <p class="text bold right sm"><span class="text bold md">Naamkaartjes en logo</span> <br/><br/> Dit lettertypen wordt gebruikt voor het logo en voor de naamkaardjes.
            <a class="download-link" href="{{ site.baseurl }}/downloads/fonts/web.zip"> Download font <i class="far fa-arrow-alt-circle-down"></i></a>
        </p>      
        <img alt="Lettertype Gadugi" src="{{ site.baseurl }}/images/typo/Gadugi.png">
    </div>


    <div class="flex row justified-s padded-top">
        <p class="text bold right sm"> <span class="text bold md">Web</span> <br/><br/> Het lettertype gebruikt voor drukwerk is Open Sans als alternatief kan er ook Arial gebruikt worden. 
<br/><br/>Deze lettertypes bevatten ook het Roemeense lettertypen dit is handig om typische worden of termen
te kunnen schrijven.
            <a class="download-link" href="{{ site.baseurl }}/downloads/fonts/web.zip"> Download font <i class="far fa-arrow-alt-circle-down"></i></a>
        </p>      
        <img alt="lettertype Open Sans" src="{{ site.baseurl }}/images/typo/02.png">
    </div>
    <div class="flex row justified-s padded-top">
        <p class="text bold right md"> Typografie gecombineerd met het logo. De tekst moet altijd
 uit gelijnd worden oftewel links onderaan of tewel rechts onderaan van het logo zoals hier 
voorgesteld. De tekst mag in geen geval schuin gezet worden. </p>      
        <img alt="Typo met logo" src="{{ site.baseurl }}/images/typo/03.png">
    </div>
    <div class="flex row justified-s padded-top">
        <p class="text bold right sm"><span class="text bold md">briefhoofd en factuur</span> <br/><br/> De facturen en het briefhoofd zijn via de zelfde principes opgeboud.  
            <a class="download-link" href="{{ site.baseurl }}/downloads/templates/documents.zip">Download template <i class="far fa-arrow-alt-circle-down"></i></a>
        </p>      
        <img alt="Briefhoofd en factuur" src="{{ site.baseurl }}/images/typo/04.png">
    </div>
   
    <div class="flex row justified-s padded-top">
        <p class="text bold right sm"><span class="text bold md">Folder</span> <br/><br/> De folder is een zigzag folder van drie luiken. 
        <span class="download-link">Download template <i class="far fa-arrow-alt-circle-down"></i></span>
    </p>     
        <img alt="Folder" src="{{ site.baseurl }}/images/typo/06.png">
    </div>
    <div class="flex row justified-s padded-top">
        <p class="text bold right sm"></p>     
        <img alt="Foto naamkaartje" src="{{ site.baseurl }}/images/typo/07.png">
    </div>

 <div class="flex row justified-s padded-top">
        <p class="text bold right sm"><span class="text bold md">Naamkaartjes</span> <br/><br/>De naamkaartjes hebben een typische vorm. VZW Nijlen voor Hodora wordt altijd vermeld boven aan het naamkaartje en links in het huisje.
Gebruik altijd het juiste fond en fontsize.
    </p>     
        <img alt="Naamkaartjes" src="{{ site.baseurl }}/images/typo/08.png">
    </div>

    <div class="flex row justified-s padded-top">
            <p class="text bold right md"></p>     
            <img alt="Logo in kleur" src="{{ site.baseurl }}/images/typo/09.png">
        </div>
<div class="flex row justified-s padded-top">
        <p class="text bold right sm"><span class="text bold md">Website</span> <br/><br/>Voor deze webomgeving maakt u gebruik van het lettertype Open sans.
        </p>
        <img alt="Voorbeeld van de website" src="{{ site.baseurl }}/images/typo/website.png">
    </div>
</div>