<div id="typo" class="container typo ">
    <h1 class="title xxl bold right">Typografie</h1>
</div>
<div class="container content">
    <div class="flex row justified-s padded-top">
        <p class="text bold right sm"><span class="text bold right md">Drukwerk</span> <br/><br/>Het lettertype dat gebruikt wordt voor drukwerk is Tahoma, 
als alternatief kan er ook Arial gebruikt worden. Beide lettertypes mogen gebruikt worden in regular en bold. <br/><br/>
Deze lettertypes bevatten ook het Roemeense lettertype, dit is handig om typische woorden of termen
te kunnen schrijven.
            <a class="download-link" href="{{ site.baseurl }}/downloads/fonts/druk.zip">Download font <i class="far fa-arrow-alt-circle-down"></i></a>
        </p>      
        <img alt="Lettertype Tahoma" src="{{ site.baseurl }}/images/typo/Tahoma.jpg">
    </div>

 <div class="flex row justified-s padded-top">
        <p class="text bold right sm"><span class="text bold md">Naamkaartjes en logo</span> <br/><br/> Dit lettertype wordt gebruikt voor het logo en voor de naamkaartjes.
            <a class="download-link" href="{{ site.baseurl }}/downloads/fonts/web.zip"> Download font <i class="far fa-arrow-alt-circle-down"></i></a>
        </p>      
        <img alt="Lettertype Gadugi" src="{{ site.baseurl }}/images/typo/Gadugi.jpg">
    </div>


    <div class="flex row justified-s padded-top">
        <p class="text bold right sm"> <span class="text bold md">Web</span> <br/><br/> Het lettertype gebruikt voor drukwerk is Open Sans, als alternatief kan er ook Arial gebruikt worden. 
<br/><br/>Deze lettertypes bevatten ook het Roemeense lettertype, dit is handig om typische woorden of termen
te kunnen schrijven.
            <a class="download-link" href="{{ site.baseurl }}/downloads/fonts/web.zip"> Download font <i class="far fa-arrow-alt-circle-down"></i></a>
        </p>      
        <img alt="lettertype Open Sans" src="{{ site.baseurl }}/images/typo/opensans.jpg">
    </div>
    <div class="flex row justified-s padded-top">
        <p class="text bold right md"> <span class="text bold md">  Typografie gecombineerd met logo</span> <br/><br/> De tekst moet altijd
 uitgelijnd worden ofwel links onderaan ofwel rechts onderaan van het logo zoals hier 
voorgesteld. De tekst mag in geen geval schuin gezet worden. </p>      
        <img alt="Typo met logo" src="{{ site.baseurl }}/images/typo/uitlijnen-tekst.png">
    </div>
    <div class="flex row justified-s padded-top">
        <p class="text bold right sm"><span class="text bold md">Briefhoofd en factuur</span> <br/><br/> De facturen en het briefhoofd zijn via dezelfde principes opgebouwd.  
            <a class="download-link" href="{{ site.baseurl }}/downloads/templates/documents.zip">Download template <i class="far fa-arrow-alt-circle-down"></i></a>
        </p>      
        <img alt="Briefhoofd en factuur" src="{{ site.baseurl }}/images/typo/factuur_brief.jpg">
    </div>
   
    <div class="flex row justified-s padded-top">
        <p class="text bold right sm"><span class="text bold md">Folder</span> <br /><br /> De folder is een zigzag folder van drie luiken. 
        <span class="download-link">Download template <i class="far fa-arrow-alt-circle-down"></i></span>
    </p>     
        <img alt="Folder" src="{{ site.baseurl }}/images/typo/folder.jpg">
    </div>
    <div class="flex row justified-s padded-top">
        <p class="text bold right sm"></p>     
        <img alt="Foto naamkaartje" src="{{ site.baseurl }}/images/typo/07.png">
    </div>

 <div class="flex row justified-s padded-top">
        <p class="text bold right sm"><span class="text bold md">Naamkaartjes</span> <br /><br />De naamkaartjes hebben een typische vorm. VZW Nijlen voor Hodora wordt altijd vermeld bovenaan het naamkaartje en links in het huisje.
Gebruik altijd het juiste font en font size.
    </p>     
        <img alt="Naamkaartjes" src="{{ site.baseurl }}/images/typo/naamkaartje.png">
    </div>

    <div class="flex row justified-s padded-top">
            <p class="text bold right md"></p>     
            <img alt="Logo in kleur" src="{{ site.baseurl }}/images/typo/09.png">
        </div>
<div class="flex row justified-s padded-top">
        <p class="text bold right sm"><span class="text bold md">Website</span> <br /><br />Voor deze webomgeving maakt u gebruik van het lettertype Open sans. Op de begin pagina gebruik je altijd een sfeerfoto van het landschap in Roemenie.
        </p>
        <img alt="Voorbeeld van de website" src="{{ site.baseurl }}/images/typo/website.png">
    </div>
</div>