.title {
    font-family: $myfont-family-base;
    font-weight: $font-weight-base;
    line-height: $lineheight-base;
    color: $body-color;
    margin: 0;
    &.xs {
        font-size: 1em;
    }
    &.sm {
        font-size: 2em;
    }
    &.md {
        font-size: 3em;
    }
    &.xl {
        font-size: 4em;
    }
    &.xxl {
        font-size: 5em;
    }
    &.right {
        text-align: right;
    }
    &.center {
        text-align: center;
    }
    &.left {
        text-align: left;
    }
    &.regular {
        font-weight: 400;
    }
    &.bold {
        font-weight: 800;
    }
    &.small {
        font-weight: 200;
    }
}
.text {
    font-family: $myfont-family-base;
    font-weight: $font-weight-base;
    line-height: $lineheight-base;
    color: $body-color;
    margin: 0;
    &.xs {
        font-size: 0.7em;
    }
    &.sm {
        font-size: 1em;
    }
    &.md {
        font-size: 1.2em;
    }
    &.xl {
        font-size: 1.8em;
    }
    &.xxl {
        font-size: 2.3em;
    }
    &.right {
        text-align: right;
    }
    &.left {
        text-align: left;
    }
    &.regular {
        font-weight: 500;
        line-height: 1.2;
    }
    &.bold {
        font-weight: 700;
        line-height: 1.6;
    }
    &.small {
        font-weight: 200;
    }
}
.padded {
    &-top {
        padding-top: 6em;
    }
    &-bottom {
        padding-bottom: 1em;
    }
    &-left {
        padding-left: 1em;
    }
    &-right {
        padding-right: 1em;
    }
}
.link {
    text-decoration: none;
    font-family: $myfont-family-base;
    font-weight: $font-weight-base;
    line-height: $lineheight-base;
    color: $body-color;
}