.navigation {
    width: 100%;
    position: fixed;
    height: 40px;
    padding: 15px 74px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 100;
    .navigation-item {
        text-align: center;
        color: $color-black;
        margin: 25px;
        font-size: 12px;   
        &:hover > .underline{
            width: 100%;
        }
        .underline {
            margin-top: 3px;
            background: $color-black;
            height: 1px;
            width: 0;
            transition: width 0.1s ease-in-out;
        }
    }
}