<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/images/favicon.png">    
    <title>Huistijlgids</title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/app.scss %}">
</head>
<body>  
    {% include navigation.html %}
        {{ content }}
    {% include scripts-bottom.html %}
</body>
</html>